/* App-wide styling */
html[data-theme="dark"] {
    --dark: initial;
    --light: ;
}

html[data-theme="light"] {
    --dark: ;
    --light: initial;
}

@media (prefers-color-scheme: dark) {
    :root {
        --dark: initial;
        --light: ;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --dark: ;
        --light: initial;
    }
}

:root {
    --primary-color-1: var(--dark #360568);
    --primary-color-2: #8F87C0;
    --primary-color-5: #3a3a3a;

    --secondary-color-1: #BED45E;
    --secondary-color-2: #7785AC;
    --secondary-color-3: #E71D36;
    --secondary-color-4: #3a3a3a;
    --secondary-color-5: #3a3a3a;
    --text-color: #ffffff;
    --progress-value: 0%;
}
/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
    :not(:hover) {
        scrollbar-color: rgb(0 0 0 / 0%) rgb(0 0 0 / 0%);
    }

    :hover {
        scrollbar-color: var(--secondary-color-2) rgb(0 0 0 / 0%);
    }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
    :root::-webkit-scrollbar-track {
        background: transparent;
    }
}


html, body {
    margin: 0;
    height: 100%;
    background-color: var(--primary-color-5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
#progress{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#motion_view {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


#title {
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--text-color);
}
