/* App-wide styling */
:root {
    --primary-color-1: #360568;
    --primary-color-2: #8F87C0;
    --primary-color-5: #3a3a3a;

    --secondary-color-1: #BED45E;
    --secondary-color-2: #7785AC;
    --secondary-color-3: #E71D36;
    --secondary-color-4: #3a3a3a;
    --secondary-color-5: #3a3a3a;

    --text-color: #ffffff;

    --progress-value: 0%;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: var(--primary-color-5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
#progress{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#motion_view {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


#title {
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--text-color);
}
